<div class="cust-footer">
    <div class="container-fluid cust-footer-main">
        <div class="row">
            <div class="col">
                <div class="cust-social-block d-flex justify-content-center">
                    <div class="cust-soc-item m-3 d-flex text-center justify-content-center">
                        <a href="https://www.facebook.com/" class="cust-soc-item-href">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                    <div class="cust-soc-item m-3 d-flex text-center justify-content-center">
                        <a href="https://twitter.com/" class="cust-soc-item-href">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <div class="cust-soc-item m-3 d-flex text-center justify-content-center">
                        <a href="https://www.linkedin.com/" class="cust-soc-item-href">
                            <i class="fa fa-linkedin" ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <span class="cust-copyright">
                    &copy; 2016 Copyright:
                    <a routerLink='/home'>Computational Geometry</a>  
                </span>
            </div>
        </div>
    </div>    

</div>