/* * {
	margin: 0;
	padding: 0;
}
.cust-content {
	min-height: calc(100vh - 80px);
} */

.cust-content-wrapper {
	padding-bottom: 90px;
}
.cust-footer-wrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}